$blue: #3d4e6a;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg: #364a60;
$subMenuBg:#0e1f31; // hotline acc
$menuHover:#001528;
